[submodule "boogie"]
	path = ExternalLibs/Boogie
	url = https://github.com/delcypher/boogie-mirror.git
[submodule "ExternalLibs/CommandLine"]
	path = ExternalLibs/CommandLine
	url = git://github.com/delcypher/commandline.git
