# -*- Python -*-

# Configuration file for the 'lit' test runner.

import os
import sys
import re
import platform

import lit.util
import lit.formats

# name: The name of this test suite.
config.name = 'Symbooglix driver'

config.test_format = lit.formats.ShTest(execute_external=False)

# suffixes: A list of file extensions to treat as test files. This is overriden
# by individual lit.local.cfg files in the test subdirectories.
config.suffixes = ['.bpl']

# excludes: A list of directories to exclude from the testsuite. The 'Inputs'
# subdirectories contain auxiliary inputs for various tests in their parent
# directories.
config.excludes = []

# test_source_root: The root path where tests are located.
config.test_source_root = os.path.dirname(os.path.abspath(__file__))

# test_exec_root: The root path where tests should be run.
config.test_exec_root = config.test_source_root

# Propagate 'HOME' through the environment.
if 'HOME' in os.environ:
    config.environment['HOME'] = os.environ['HOME']

# Propagate 'INCLUDE' through the environment.
if 'INCLUDE' in os.environ:
    config.environment['INCLUDE'] = os.environ['INCLUDE']

# Propagate 'LIB' through the environment.
if 'LIB' in os.environ:
    config.environment['LIB'] = os.environ['LIB']

# Propagate the temp directory. Windows requires this because it uses \Windows\
# if none of these are present.
if 'TMP' in os.environ:
    config.environment['TMP'] = os.environ['TMP']
if 'TEMP' in os.environ:
    config.environment['TEMP'] = os.environ['TEMP']

# Propagate PYTHON_EXECUTABLE into the environment
config.environment['PYTHON_EXECUTABLE'] = getattr(config, 'python_executable', '')

# Propage user's PATH into the environment
config.environment['PATH'] = os.environ['PATH']

# Check that the object root is known.
if config.test_exec_root is None:
    lit_config.fatal('Could not determine execution root for tests!')

### Add Symbooglix specific substitutions

# Find symbooglix
up = os.path.dirname
repositoryRoot = up(
                     up( os.path.abspath(__file__) )
                   )
lit_config.note('Repository root is {}'.format(repositoryRoot))

# Provide option to pick build type
availableBuildTypes = ['Release', 'Debug']
sbxBuildType = lit_config.params.get('sbx_build','Debug')

if not any(map(lambda buildType : buildType == sbxBuildType, availableBuildTypes)):
    lit_config.fatal('Build type not set to one of the following values {}'.format(availableBuildTypes))

lit_config.note('Using build type {}'.format(sbxBuildType))
symbooglixExecutable = os.path.join( repositoryRoot,
                                     'src',
                                     'SymbooglixDriver',
                                     'bin',
                                     sbxBuildType,
                                     'sbx.exe'
                                   )

if not os.path.exists(symbooglixExecutable):
    lit_config.fatal('Could not find symbooglix at {}'.format(symbooglixExecutable))

if os.name == 'posix':
    symbooglixExecutable = 'mono --debug ' + symbooglixExecutable

# Allow user to provide extra arguments to symbooglix
symbooglixParams = lit_config.params.get('sb_params','')
if len(symbooglixParams) > 0:
    symbooglixExecutable = symbooglixExecutable + ' ' + symbooglixParams

# Inform user what executable is being used
lit_config.note('Using symbooglix: {}\n'.format(symbooglixExecutable))

config.substitutions.append( ('%symbooglix', symbooglixExecutable) )

# Find OutputCheck
OutputCheckTool = 'OutputCheck'
if not lit.util.which(OutputCheckTool):
    lit_config.fatal('Cannot find OutputCheck executable in your PATH')

# Allow user to specify extra flags to OutputCheck (e.g. -l debug)
OutputCheckFlags = lit_config.params.get('outputcheck_params','')
OutputCheckTool += ' -d '
if len(OutputCheckFlags) > 0:
    OutputCheckTool += ' ' + OutputCheckFlags
config.substitutions.append( ('%OutputCheck', OutputCheckTool) )

# Add substitution for removing directories
if os.name == 'posix':
    rmdirCmd = 'rm -rf'
elif os.name == 'nt':
    # For windows there is no tool to remove directories that won't report an error
    # if the directory does not exist so we provide our own python script for this case
    rmdirCmd = sys.executable + ' ' + os.path.join(repositoryRoot, 'utils', 'rmdir.py')
else:
    lit_config.fatal('Unsupported platform: {}'.format(os.name))

config.substitutions.append( ('%rmdir', rmdirCmd))

# Add substitution for not utility
notTool = os.path.join(repositoryRoot, 'utils', 'not.py')

if os.name == 'nt':
    notTool = sys.executable + ' ' + notTool

config.substitutions.append( ('%not', notTool))

# Add substitution for eec utility
eecTool = os.path.join(repositoryRoot, 'utils', 'eec.py')

if os.name == 'nt':
    eecTool = sys.executable + ' ' + eecTool

config.substitutions.append( ('%eec', eecTool))

# Add substitution for eec utility
ctcyTool = os.path.join(repositoryRoot, 'utils', 'ctcy.py')

if os.name == 'nt':
    ctcyTool = sys.executable + ' ' + ctcyTool

config.substitutions.append( ('%ctcy', ctcyTool))
